@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --text-color-dark: #202c4b;
  --dark-blue: #3d5ee1;
  --light-blue: #f2f5ff;
  --dark-red: #ee443f;
  --light-red: #fdecec;
  --dark-green: #43b75d;
  --light-green: #ecf8ef;
  --dark-yellow: #ffaa00;
  --light-yellow: #fff7e6;
  --text-color-grey: #9e9e9e;
}
html,
body {
  color: var(--text-color-dark);
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f5fa;
  font-size: 16px;
  line-height: 120%;
  font-family: Open Sans, Helvetica, sans-serif;
}
.dashboard {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 0;
  grid-template-columns: 240px auto;
  grid-template-rows: 80px auto;
  grid-template-areas: "menu search" "menu content";
}
.search-wrap {
  grid-area: search;
  background: #fff;
  border-bottom: 1px solid #ede8f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
}
/* ============= avatar ============= */
.search-wrap .user {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0 3em;
}
.search-wrap .user .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.search-wrap .user .user-avatar img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.search-wrap .user figcaption {
  margin: 0;
  padding: 0 0 0 1em;
  color: #1b253d;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 100%;
}

.search-wrap .user-actions button {
  border: 0;
  background: none;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  margin-left: 0.5em;
}
.search-wrap .user-actions button svg {
  position: relative;
  top: 2px;
}
.search-wrap .user-actions button svg path,
.search-wrap .user-actions button svg circle {
  fill: #b6bbc6;
  transition: fill 0.15s ease;
}
.search-wrap .user-actions button:hover svg path,
.search-wrap .user-actions button:hover svg circle {
  fill: #2b3a60;
}

/* =============== Slide Navbar ================ */
.menu-wrap {
  grid-area: menu;
  padding-bottom: 3em;
  overflow: auto;
  background: #fff;
  border-right: 1px solid #ede8f0;
}
.Logo-dash {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0 3em;
  padding-top: 1rem;
}
.Logo-dash > img {
  max-width: 160px;
}
.menu-wrap nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 90%;
  padding: 0 2rem;
}
.menu-wrap nav section {
  display: block;
  padding: 3rem 0 0;
}

.menu-wrap nav ul {
  display: block;
  padding: 0;
  margin: 0;
}
.menu-wrap nav li {
  display: block;
  padding: 0;
  margin: 0.5rem 0 0;
  border-radius: 6px;
  padding: 8px;
}
.menu-wrap nav li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: var(--text-color-dark);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875em;
  transition: color 0.15s ease;
}
.active-link {
  background-color: #f2f5ff;
}
.active-link a {
  color: #3d5ee1 !important;
}
.active-link .icon-wrapper {
  background-color: #fff;
}
.icon-wrapper {
  padding: 8px;
  background: var(--light-blue);
  border-radius: 8px;
}
.menu-wrap nav li a svg {
  display: block;
}
.menu-wrap nav li a svg path,
.menu-wrap nav li a svg circle {
  fill: var(--text-color-dark);
  transition: fill 0.15s ease;
}
.active-link a svg path {
  fill: #3d5ee1 !important;
}

.log-out {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--light-red);
}
.log-out a,
.log-out a svg path {
  color: var(--dark-red) !important;
  fill: var(--dark-red) !important;
}

/* ==================== contents =============== */
.content-wrap {
  grid-area: content;
  padding: 3em;
  overflow: auto;
}
.landing-contents {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
/* =================== Schedule =============== */
.schedule-container {
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  width: 100%;
}

.schedule-container h1 {
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
  color: #3d5ee1;
}

.schedule-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.schedule-container th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.schedule-container th {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.lesson {
  display: flex;
}
.line-schedule {
  height: 60px;
  width: 3px;
  border-radius: 4px;
}
.lesson-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 0.4rem;
  padding-top: 0.5rem;
  font-size: 12px;
  font-weight: 400;
}
.lesson-wrapper span {
  font-size: 10px;
  color: var(--text-color-grey);
}
.ls-math {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}
.ls-eng {
  background-color: var(--light-red);
  color: var(--dark-red);
}
.ls-history {
  background-color: var(--light-green);
  color: var(--dark-green);
}
.ls-chemistry {
  background-color: var(--light-yellow);
  color: var(--dark-yellow);
}

/* ===================== Student Attendance Checking ============ */
.cl-checkbox {
  position: relative;
  display: inline-block;
}

/* Input */
.cl-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.cl-checkbox > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
/* Box */
.cl-checkbox > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px;
  /* Safari */
  border-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}
/* Checkmark */
.cl-checkbox > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}
/* Checked, Indeterminate */
.cl-checkbox > input:checked,
.cl-checkbox > input:indeterminate {
  background-color: var(--dark-green);
}
.absend-check .absend-check > input:checked,
.absend-check > input:indeterminate {
  background-color: var(--dark-red);
}
.cl-checkbox > input:checked + span::before,
.cl-checkbox > input:indeterminate + span::before {
  border-color: var(--dark-green);
  background-color: var(--dark-green);
}
.absend-check > input:checked + span::before,
.absend-check > input:indeterminate + span::before {
  border-color: var(--dark-red);
  background-color: var(--dark-red);
}

.cl-checkbox > input:checked + span::after,
.cl-checkbox > input:indeterminate + span::after {
  border-color: #fff;
}

.cl-checkbox > input:indeterminate + span::after {
  border-left: none;
  transform: translate(4px, 3px);
}
/* Active */
.cl-checkbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.cl-checkbox > input:active + span::before {
  border-color: var(--dark-green);
}

.cl-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Filter Form */
.filter-form {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
.date-form {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
  align-items: center;
  color: var(--dark-blue) !important;
}
.filter-form > button {
  padding: 4px 16px;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}
.update-btn {
  margin-top: 2rem;
  padding: 8px 16px;
  background-color: var(--light-green);
  color: var(--dark-green);
  border: 2px solid var(--dark-green);
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}
.delete-btn {
  padding: 4px 8px;
  background-color: var(--light-red);
  color: var(--dark-red);
  border: 2px solid var(--dark-red);
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}
.marking-btn {
  padding: 4px 8px;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  width: max-content;
  display: block;
}

/* Exam forms */
.exam-form-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}
.exam-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input-label-style {
  color: var(--text-color-dark);
  font-weight: 500;
  font-size: 20px;
}
.input-style {
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #555;
  outline: none;
}

.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* -=================== Exam Status =============== */
.exam-status {
  padding: 8px 22px;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  text-align: center;
  width: max-content;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid var(--dark-blue);
  border-radius: 8px;
}
.pending-status {
  background-color: #e9e9e9;
  color: var(--text-color-grey);
  border-color: var(--text-color-grey);
}
.pass-status {
  background-color: var(--light-green);
  color: var(--dark-green);
  border-color: var(--dark-green);
}
.fail-status {
  background-color: var(--light-red);
  color: var(--dark-red);
  border-color: var(--dark-red);
}
.mark-input {
  padding: 4px !important;
  max-width: 50px !important;
}
